* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.card {
    width: 300px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.Color-Fondo {
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #ffd000, #ff00cc);
}

.Imagen {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid white;
    background: url('imagenes/perfil.jpeg') center/cover no-repeat;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    margin-top: 50px;
    padding: 15px;
}

h2 {
    font-size: 18px;
    color: #000000;
}

p {
    font-size: 14px;
    color: #5e5e5e;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.social-links a {
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
}